### WordPress ###

# macOS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log
/tests/logs

# Dependencies
/vendor/
/node_modules/

# Build output
build/
build-module/
build-scripts/
build-types/

# Environment
.env

# AI files
.gemini/
.claude/
AGENTS.md
GEMINI.md
CLAUDE.md

# Cache
.phpunit.result.cache

# Test output
/tests/_output/*
!/tests/_output/.gitkeep
/tests/e2e/artifacts
/artifacts

# Configs
/phpcs.xml
/phpunit.xml
/phpstan.neon

# WP ENV
/.wp-env.override.json
/.wp-env.test.override.json

# Tests & Coverage
/coverage/

# TypeScript
*.tsbuildinfo

# Build
ai.zip
